@charset "utf-8";

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.container {
  margin: auto;
  width: 12%;
  background-color: rgba(80, 80, 80, .5);
  text-align: center;
  padding: 0;
}
.shape {
  color: white;
  padding: 8%;
  background-color: #808080;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  font-size: 1em;
  border: 1px solid white;
  border-style: outset;
}
.separator {
  font-size: 1.3em;
  color: white;
}
